<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    
    <title>TP-Link HS100 Dashboard</title>
</head>
 
<body>
    <main>
        <header>
            <h1>TP-Link HS100 Dashboard</h1>
        </header>
        
        <div class="devices"></div>
    
        <div class="grid-2">
            <canvas id="myChart"></canvas>
            <canvas id="myChart2"></canvas>
        </div>
 
        <div class="loader-container">
            <div class="lds-heart"><div></div></div>
        </div>
    </main>
 
    <script type="text/javascript"  src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>
 
